.page-header
  %h1 Nuevo código QR

= simple_form_for @price, url: '/encode', html: { class: 'form-horizontal', method: 'get' } do |f|
  = f.input :company, label: 'Supermercado', collection: ['Carrefour', 'Coto', 'Jumbo', 'Wallmart', 'Vea']
  = f.input :store, label: 'Sucursal'
  = f.input :product, label: 'Producto'
  = f.input :value, label: 'Precio'
  .form-actions
    = f.button :submit, value: 'Generar código QR', class: 'btn-primary'
