!!!
%html
  %head
    %title Precios QR
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'Control de Precios Ciudadano', './list.html', class: 'brand'

    .container
      .row-fluid
        .span12
          = yield

    = javascript_include_tag 'application'
